@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	background-color: black;
}

div.start_1{
	position:fixed;
	margin: 1%;
	background-color: white;
	height: 96%;
	width: 98%;
}

.zi1:link,.zi1:visited{
	transition: all 0.5s;
	text-align: center;
	text-decoration: none;
	font-family: Consolas;
	word-spacing: 2px;
	letter-spacing: 2px;
	font-weight: 200;
}

.zi1:hover,.zi1:active{
	transition: all 0.5s;
	text-align: center;
	text-decoration: none;
	font-family: Consolas;
	word-spacing: 2px;
	letter-spacing: 2px;
	font-weight: 900;
}